*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

h1 {
  color: #1d1e35;
  font-size: 2.7rem;
}

h4 {
  color: #4a4b5e;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 1.4rem 0rem;
}

p {
  font-size: 1.3rem;
  color: #787887;
}

hr {
  border: none;
  border-top: 1px solid #e7e7e9;
}

.box {
  position: absolute;
  left: -22%;
  top: 40%;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.main-container {
  background-color: #fcfcfd;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
  grid-gap: 6rem;
  width: 65%;
  height: 75%;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: 750% 65%;
}

.panel > .answer {
  display: none;
}

.woman-image-container {
  position: relative;
}

.woman-image {
  background-image: url("../images/illustration-woman-online-desktop.svg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: 100% center;
  display: block;
}

.accordion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 4.5rem 0 0 4rem;
}

.accordion-questions {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel {
  width: 22vw;
}

.question {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.show-answer > .answer {
  display: block;
  padding-bottom: 0.5rem;
  color: var(--darkGrayBlue);
}

.show-answer img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.show-answer h4 {
  font-weight: 700;
}

.arrow {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.attribution {
  display: none;
}
/*# sourceMappingURL=style.css.map */